In [1]:
import pandas as pd
import re
import nltk
from rake_nltk import Rake

In [2]:
df=pd.read_csv('./zara_dresses.csv')

In [3]:
df.head()

,0,1,2,3,4,5,6
0,POLKA DOT TULLE DRESS Details,Semi-sheer collared dress with long sleeves an...,Ecru,4437/069,39.99,[],static.zara.net/photos///2019/V/0/1/p/4437/069...
1,LACE DRESS Details,Short sleeve dress with a shirt collar. Featur...,White,1639/056,39.99,"['XS', 'S', 'M']",static.zara.net/photos///2019/V/0/1/p/1639/056...
2,LONG POLKA DOT DRESS Details,Collared dress with long sleeves. Featuring an...,Off-white,3440/055,29.99,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",static.zara.net/photos///2019/V/0/1/p/3440/055...
3,DRESS WITH MATCHING EMBROIDERY Details,V-neck dress with sleeves falling below the el...,White,1821/021,25.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/1821/021...
4,EMBROIDERED LACE DRESS Details,Round neck dress with sleeves reaching below t...,Ecru,5770/022,29.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/5770/022...

In [4]:
df.shape

(634, 7)

In [5]:
df.isnull().sum()

0    4
1    4
2    4
3    4
4    4
5    4
6    4
dtype: int64

In [6]:
# which rows contain missing values
nans = lambda df: df[df.isnull().any(axis=1)]
nans(df)

       0    1    2    3   4    5    6
427  NaN  NaN  NaN  NaN NaN  NaN  NaN
440  NaN  NaN  NaN  NaN NaN  NaN  NaN
441  NaN  NaN  NaN  NaN NaN  NaN  NaN
475  NaN  NaN  NaN  NaN NaN  NaN  NaN

In [7]:
df.dropna(inplace=True)

In [8]:
print(df.shape)
df.isnull().sum()

(630, 7)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [9]:
#remove "details" word from column 0. Do not give us any information
df["0"]=df["0"].str.replace("Details","")

In [10]:
# create a function to remove words 

def remove_words(word,sentence):
    return sentence.split(word)[0]

In [11]:
# remove the heigh of the model from the description. Do not give us any information

df["1"]=df["1"].apply(lambda x:remove_words('MODEL HEIGHT',x))
df["1"]=df["1"].apply(lambda x:remove_words('HEIGHT OF MODEL',x))

In [12]:
# Make URL clickable

'''
def make_clickable(val):
    return '<a href="{}">{}</a>'.format(val,val)

df.style.format({'6': make_clickable})
# df.style.apply(highlight_max, subset=['B', 'C', 'D'])

# df['6'] = df.apply(lambda x: make_clickable(df['6']))
'''

'\ndef make_clickable(val):\n    return \'<a href="{}">{}</a>\'.format(val,val)\n\ndf.style.format({\'6\': make_clickable})\n# df.style.apply(highlight_max, subset=[\'B\', \'C\', \'D\'])\n\n# df[\'6\'] = df.apply(lambda x: make_clickable(df[\'6\']))\n'

In [13]:
df.head()

,0,1,2,3,4,5,6
0,POLKA DOT TULLE DRESS,Semi-sheer collared dress with long sleeves an...,Ecru,4437/069,39.99,[],static.zara.net/photos///2019/V/0/1/p/4437/069...
1,LACE DRESS,Short sleeve dress with a shirt collar. Featur...,White,1639/056,39.99,"['XS', 'S', 'M']",static.zara.net/photos///2019/V/0/1/p/1639/056...
2,LONG POLKA DOT DRESS,Collared dress with long sleeves. Featuring an...,Off-white,3440/055,29.99,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",static.zara.net/photos///2019/V/0/1/p/3440/055...
3,DRESS WITH MATCHING EMBROIDERY,V-neck dress with sleeves falling below the el...,White,1821/021,25.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/1821/021...
4,EMBROIDERED LACE DRESS,Round neck dress with sleeves reaching below t...,Ecru,5770/022,29.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/5770/022...

In [14]:
#rename columns
df.rename(columns={'0':'item','1':'description','2':'color','3':'reference','4':'price','5':'available_sizes','6':'image'},inplace=True)

In [15]:
df.head()

,item,description,color,reference,price,available_sizes,image
0,POLKA DOT TULLE DRESS,Semi-sheer collared dress with long sleeves an...,Ecru,4437/069,39.99,[],static.zara.net/photos///2019/V/0/1/p/4437/069...
1,LACE DRESS,Short sleeve dress with a shirt collar. Featur...,White,1639/056,39.99,"['XS', 'S', 'M']",static.zara.net/photos///2019/V/0/1/p/1639/056...
2,LONG POLKA DOT DRESS,Collared dress with long sleeves. Featuring an...,Off-white,3440/055,29.99,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",static.zara.net/photos///2019/V/0/1/p/3440/055...
3,DRESS WITH MATCHING EMBROIDERY,V-neck dress with sleeves falling below the el...,White,1821/021,25.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/1821/021...
4,EMBROIDERED LACE DRESS,Round neck dress with sleeves reaching below t...,Ecru,5770/022,29.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/5770/022...

In [16]:
#create column with all words from descritption and title item

df['key_words']=df.item+df.description

In [17]:
#create column with key words

nltk.download('wordnet')
nltk.download('stem')
from nltk.stem import WordNetLemmatizer
from nltk import stem
from nltk import sent_tokenize, word_tokenize
from stop_words import get_stop_words

def clean_up(s):
    lines = s.lower().split(" ")
    lines = [re.sub(r'\d', ' ', line) for line in lines]
    lines = [re.sub(r'\W', ' ', line) for line in lines]
    
    return " ".join(lines)

def tokenize(s):
    return word_tokenize(s)

def stem_and_lemmatize(l):
    lemmatizer = WordNetLemmatizer()
    stemmer = stem.PorterStemmer()
    stem_phrase=[stemmer.stem(x) for x in l]
    stem_and_lemmatize_phrase = [lemmatizer.lemmatize(x)  for x in stem_phrase] 
    return stem_and_lemmatize_phrase

def remove_stopwords(w):
    stop_words = get_stop_words('en')
    [w.remove(i) for i in w if i in stop_words]
    return w

def clean_f(x): 
    functions = [clean_up, tokenize, stem_and_lemmatize, remove_stopwords]
    for f in functions: 
        x = f(x)
    return x

df['text_processed']=df.key_words.apply(clean_f)
df.drop('key_words',axis=1,inplace=True)

[nltk_data] Downloading package wordnet to /Users/almu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Error loading stem: Package 'stem' not found in index

In [18]:
df['text_processed']=df['text_processed'].apply(', '.join)

In [19]:
df.head()

,item,description,color,reference,price,available_sizes,image,text_processed
0,POLKA DOT TULLE DRESS,Semi-sheer collared dress with long sleeves an...,Ecru,4437/069,39.99,[],static.zara.net/photos///2019/V/0/1/p/4437/069...,"polka, dot, tull, dress, semi, sheer, collar, ..."
1,LACE DRESS,Short sleeve dress with a shirt collar. Featur...,White,1639/056,39.99,"['XS', 'S', 'M']",static.zara.net/photos///2019/V/0/1/p/1639/056...,"lace, dress, short, sleev, dress, a, shirt, co..."
2,LONG POLKA DOT DRESS,Collared dress with long sleeves. Featuring an...,Off-white,3440/055,29.99,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",static.zara.net/photos///2019/V/0/1/p/3440/055...,"long, polka, dot, dress, collar, dress, long, ..."
3,DRESS WITH MATCHING EMBROIDERY,V-neck dress with sleeves falling below the el...,White,1821/021,25.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/1821/021...,"dress, match, embroideri, v, neck, dress, slee..."
4,EMBROIDERED LACE DRESS,Round neck dress with sleeves reaching below t...,Ecru,5770/022,29.99,"['XS', 'S', 'M', 'L']",static.zara.net/photos///2019/V/0/1/p/5770/022...,"embroid, lace, dress, round, neck, dress, slee..."

In [20]:
uri=input("welcome to FIND THE DRESS OF YOUR DREAMS! which dress would you like to have? Please, insert here the link")
import io
import os
from google.cloud import vision
from google.cloud.vision import types
import pandas as pd
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./healthy-feat-234911-0b9642033688.json"
label_dict={}
client = vision.ImageAnnotatorClient()
image = vision.types.Image()
image.source.image_uri = uri
# Call client.image_properties with as (image=image) argument.
response = client.label_detection(image=image)
# Store the response of image_properties() in a variable response
labels = response.label_annotations

for label in labels:
        scores = format(float(format(float(label.score),'.4f'))*100,'.2f')
        label_dict[label.description] = scores
print(label_dict)

welcome to FIND THE DRESS OF YOUR DREAMS! which dress would you like to have? Please, insert here the link'https://cdn-images.farfetch-contents.com/13/36/21/05/13362105_15849618_300.jpg'
{}

In [21]:
combine=df.append({'reference':0,'price':0,'available_sizes':0,'image':0,'item':0,'description':0,'color':0,'text_processed':[*label_dict]}, ignore_index=True)

In [22]:
combine['text_processed']=combine['text_processed'].apply(clean_f)

AttributeError: 'list' object has no attribute 'lower'

In [ ]:
combine['text_processed']=combine['text_processed'].apply(', '.join)

In [ ]:
combine

In [ ]:
lst2=['Clothing','White','Dress','Day dress','Product','Pink','Sleeve','Cocktail dress','Pattern','Gown']

In [ ]:
df2=pd.DataFrame([lst2])
df2[10]=df2[0]+" "+df2[1]+" "+df2[2]+" "+df2[3]+" "+df2[4]+" "+df2[5]+" "+df2[6]+" "+df2[7]+" "+df2[8]+" "+df2[9]

In [ ]:
df2[10]=df2[10].apply(clean_f)

In [ ]:
df2.drop([0,1,2], axis=1,inplace=True)

In [ ]:
df2=df2.rename(columns={3:'reference',4:'price',5:'available_sizes',6:'image',7:'item',8:'description',9:'color',10:'text_processed'})

In [ ]:
df2

In [ ]:
df2['text_processed']=df2['text_processed'].apply(', '.join)

In [ ]:
combine = df.append(df2).reset_index(drop=True)

In [ ]:
combine

In [ ]:
combine

In [ ]:
combine.shape

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

tfidf_matrix = tf.fit_transform(combine['text_processed'])
cosine_similarities = cosine_similarity(tfidf_matrix,tfidf_matrix)

results = {} # dictionary created to store the result in a dictionary format (ID : (Score,item_id))

for idx, row in combine.iterrows(): #iterates through all the rows
    # the below code 'similar_indice' stores similar ids based on cosine similarity. sorts them in ascending order. [:-5:-1] is then used so that the indices with most similarity are got. 0 means no similarity and 1 means perfect similarity
    similar_indices = cosine_similarities[idx].argsort()[:-5:-1] #stores 5 most similar books, you can change it as per your needs
    similar_items = [(cosine_similarities[idx][i], combine['reference'][i]) for i in similar_indices]
    results[row['reference']] = similar_items[1:]
    
#below code 'function item(id)' returns a row matching the id along with Book Title. Initially it is a dataframe, then we convert it to a list
def item(id):
    return combine.loc[combine['reference'] == id]['reference'].tolist()[0]
def recommend(id, num):
    if (num == 0):
        print("Unable to recommend any dress as you have not chosen the number of dresses to be recommended")
    elif (num==1):
        print("Recommending " + str(num) + " dresses similar to " + item(id))
        
    else :
        print("Recommending " + str(num) + " dresses similar to " + item(id))
        
    print("----------------------------------------------------------")
    recs = results[id][:num]
    for rec in recs:
        print("You may like this dress: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")
        print ("We hope you love them!")
        print ("You can buy them online at www.zara.com or at any of our stores")

#the first argument in the below function to be passed is the id of the book, second argument is the number of books you want to be recommended
recommend('Day dress',3)