### Challenge 1

In [1]:
# importamos nltk y confirmamos que va ok

In [2]:
import nltk

In [3]:
nltk.download('brown')

[nltk_data] Downloading package brown to /Users/almu/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [4]:
from nltk.corpus import brown

In [5]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [6]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [7]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/almu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
from nltk import sent_tokenize, word_tokenize

In [9]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

/usr/local/lib/python3.7/site-packages/IPython/core/inputtransformer2.py:468: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

In [10]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [11]:
word_tokenize(text)

['Ironhack',
 'is',
 'a',
 'Global',
 'Tech',
 'School',
 'ranked',
 'num',
 '2',
 'worldwide',
 '.',
 'Our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 '.',
 'This',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 ',',
 'which',
 'consist',
 'of',
 'a',
 'nine-weeks',
 'immersive',
 'programming',
 ',',
 'UX/UI',
 'design',
 'or',
 'Data',
 'Analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one-week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 '.',
 'We',
 'are',
 'present',
 'in',
 '8',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 '9',
 'locations',
 '-',
 'Madrid',
 ',',
 'Barcelona',
 ',',
 'Miami',
 ',',
 'Paris',
 ',',
 'Mexico',
 'City',
 ',',
 'Berlin',
 ',',
 'Amsterdam',
 ',',
 'Sao',
 'Paulo',
 'and',
 'Lisbon',
 '.']

### Challenge 2

In [12]:
phrase='''@Ironhack's-#Q website 776-is http://ironhack.com [(2018)]")'''

In [13]:
import re
def clean_up(s):
    lines = s.lower().split(" ")
    for i in lines:
        if i.startswith('http'):
            lines.remove(i)
    lines = [re.sub(r'\d', ' ', line) for line in lines]
    lines = [re.sub(r'\W', ' ', line) for line in lines]
    
    return " ".join(lines)
  
    
phrase_cleaned=clean_up(phrase)
phrase_cleaned

' ironhack s  q website     is           '

In [14]:
def tokenize(s):
    return word_tokenize(s)
phrase_tokenized=tokenize(phrase_cleaned)
phrase_tokenized

['ironhack', 's', 'q', 'website', 'is']

In [15]:
nltk.download('wordnet')
nltk.download('stem')
from nltk.stem import WordNetLemmatizer
from nltk import stem

[nltk_data] Downloading package wordnet to /Users/almu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Error loading stem: Package 'stem' not found in index

In [16]:
def stem_and_lemmatize(l):
    lemmatizer = WordNetLemmatizer()
    stemmer = stem.PorterStemmer()
    stem_phrase=[stemmer.stem(x) for x in l]
    stem_and_lemmatize_phrase = [lemmatizer.lemmatize(x)  for x in stem_phrase] 
    return stem_and_lemmatize_phrase
lemm_phrase=stem_and_lemmatize(phrase_tokenized)
lemm_phrase

['ironhack', 's', 'q', 'websit', 'is']

In [17]:
from stop_words import get_stop_words
def remove_stopwords(w):
    stop_words = get_stop_words('en')
    [w.remove(i) for i in w if i in stop_words]
    return w
remove_stopwords(lemm_phrase)

['ironhack', 's', 'q', 'websit']

In [18]:
import zipfile
import pandas as pd
zf = zipfile.ZipFile('./Sentiment140.csv.zip') 
df = pd.read_csv(zf.open('Sentiment140.csv'))

In [19]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [20]:
dfsam = df.sample(n=20000, random_state=1)

In [21]:
def clean_f(x): 
    functions = [clean_up, tokenize, stem_and_lemmatize, remove_stopwords]
    for f in functions: 
        x = f(x)
    return x
dfsam['text_processed']=dfsam.text.apply(clean_f)

In [22]:
dfsam.head()

,target,id,date,flag,user,text,text_processed
514293,0,2190584004,Tue Jun 16 03:08:48 PDT 2009,NO_QUERY,Vicki_Gee,i miss nikki nu nu already shes always there ...,"[miss, nikki, nu, nu, alreadi, alway, when, ne..."
142282,0,1881451988,Fri May 22 04:42:15 PDT 2009,NO_QUERY,PatCashin,So I had a dream last night. I remember a sig...,"[dream, last, night, rememb, sign, clearli, to..."
403727,0,2058252964,Sat Jun 06 14:34:17 PDT 2009,NO_QUERY,deelectable,@girlyghost ohh poor sickly you (((hugs)) ho...,"[girlyghost, ohh, poor, sickli, hug, hope, fee..."
649503,0,2237307600,Fri Jun 19 05:34:22 PDT 2009,NO_QUERY,justinekepa,it is raining again,"[is, rain]"
610789,0,2224301193,Thu Jun 18 09:20:06 PDT 2009,NO_QUERY,cmatt007,@MissKeriBaby wish I was in LA right now,"[misskeribabi, wish, wa, la, right, now]"

In [23]:
from nltk.probability import ConditionalFreqDist

In [37]:
lst=[]
for i in dfsam['text_processed']:
    for e in i:
        lst.append(e)


cfdist = ConditionalFreqDist()
for word in lst:
    condition = len(word)
    cfdist[condition][word] += 1
dct={}
for i,e in cfdist:
    dct[i]=cfdist[e][i]



print (dct)

TypeError: cannot unpack non-iterable int object