In [277]:
import pandas as pd

In [278]:
df=pd.read_csv('./coffee.csv')

In [279]:
df.head()

,ID,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0.0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2.0,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [280]:
df.shape

(1319, 44)

In [281]:
df.isnull().sum()

ID                          7
Species                     0
Owner                       9
Country.of.Origin           3
Farm.Name                 358
Lot.Number               1043
Mill                      312
ICO.Number                150
Company                   214
Altitude                  227
Region                     62
Producer                  235
Number.of.Bags              5
Bag.Weight                  5
In.Country.Partner          5
Harvest.Year               53
Grading.Date                6
Owner.1                    14
Variety                   209
Processing.Method         160
Aroma                       8
Flavor                     10
Aftertaste                 10
Acidity                    10
Body                       10
Balance                    10
Uniformity                 10
Clean.Cup                  12
Sweetness                  11
Cupper.Points              11
Total.Cup.Points           11
Moisture                   11
Category.One.Defects       11
Quakers                    12
Color                     227
Category.Two.Defects       12
Expiration                 12
Certification.Body         12
Certification.Address      12
Certification.Contact      12
unit_of_measurement        12
altitude_low_meters       238
altitude_high_meters      238
altitude_mean_meters      238
dtype: int64

In [282]:
cols=['Number.of.Bags','Flavor', 'Aroma','Harvest.Year','Acidity','Aftertaste','Body','Balance','Uniformity','Clean.Cup','Sweetness','Cupper.Points','Total.Cup.Points','Total.Cup.Points', 'Moisture']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [283]:
df.columns

Index(['ID', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [284]:
df._get_numeric_data().head()

,Number.of.Bags,Harvest.Year,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,300.0,2014.0,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58,0.12,0.0,1950.0,2200.0,2075.0
1,300.0,2014.0,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92,0.12,1.0,1950.0,2200.0,2075.0
2,5.0,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75,0.00,0.0,1600.0,1800.0,1700.0
3,320.0,2014.0,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00,0.11,2.0,1800.0,2200.0,2000.0
4,300.0,2014.0,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83,0.12,2.0,1950.0,2200.0,2075.0

In [285]:
df.dropna(subset=['altitude_low_meters'],inplace=True)

In [286]:
df = df[df.Species == 'Arabica']

In [287]:
df.drop(['Species','Company','Farm.Name','Owner','ICO.Number','Mill','Region','Producer','Lot.Number','In.Country.Partner','Certification.Address','Certification.Contact','Owner.1','unit_of_measurement','Altitude','altitude_mean_meters','Species','ID','Quakers','Category.One.Defects','Category.Two.Defects'],axis=1,inplace=True)
#species column: el 99% son de la especie Arábica. eliminamos todas las filas que no sean Arábica. 
#eliminamos lot.number porque el 90% de registros son nulos
# Elminamos Certification.Address,Certification.Contact porque no nos interesa
#columna Altitude y altitude_mean_meters se repite
#eliminamos 'In.Country.Partner' porque es la misma columna que CertificationBody
# Category.One.Defects,Category.Two.Defects,Quakers,unit_of_measurement  no hay buen balance.eliminamos
#COGEMOS SOLO CAFE ARABICA. PREDECIMOS VARIETY
#eliminamos Owner.1,Producer,REgion,Company,ICO.Number,Mill,'Farm.Name',Owner porq esta demasiado disgregados

In [288]:
df.dropna(inplace=True)

In [289]:
df['Color'].fillna('None', inplace=True)

In [290]:
#NOS QUEDAMOS CON EL AÑO DE EXPIRATION y Grading.Date ???
#eliminamos libras de Bag.Weight?¿?
#dummies=certifications, color,Processing.Method,variety,countryoforigin

In [291]:
# CON MENOS DE 100 POR CETIFICATION LA INCLUIMOS EN OTHER

def certification(x, certifications=['AMECAFE', 'Specialty Coffee Association', 'AlmacafÃ©', 'Asociacion Nacional Del CafÃ©']):
    if x in certifications:
        return x
    else:
       return 'Other'

df['Certification.Body'] = df['Certification.Body'].apply(certification)
df['Certification.Body'].value_counts()

Other                            294
AMECAFE                          178
Asociacion Nacional Del CafÃ©    133
Specialty Coffee Association     104
AlmacafÃ©                         99
Name: Certification.Body, dtype: int64

In [292]:
# CON MENOS DE 50 POR Variety LA INCLUIMOS EN OTHER

def variety(x, var=['Caturra', 'Bourbon', 'Typica', 'Catuai']):
    if x in var:
        return x
    else:
       return 'Other'

df['Variety'] = df['Variety'].apply(variety)
df['Variety'].value_counts()

Other      206
Caturra    206
Bourbon    174
Typica     161
Catuai      61
Name: Variety, dtype: int64

In [293]:

# CON MENOS DE 40 POR Variety LA INCLUIMOS EN OTHER

def origin(x, countries=['Mexico', 'Colombia', 'Guatemala', 'Brazil','Taiwan','Honduras','Costa Rica']):
    if x in countries:
        return x
    else:
       return 'Other'

df['Country.of.Origin'] = df['Country.of.Origin'].apply(origin)
df['Country.of.Origin'].value_counts()

Mexico        198
Other         187
Guatemala     148
Colombia      102
Brazil         46
Honduras       44
Costa Rica     42
Taiwan         41
Name: Country.of.Origin, dtype: int64

In [294]:
#son las mismas columnas, eliminamos C.partner
df[['In.Country.Partner','Certification.Body']].head()

KeyError: "['In.Country.Partner'] not in index"

In [295]:
df.corr()

,Number.of.Bags,Harvest.Year,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,altitude_low_meters,altitude_high_meters
Number.of.Bags,1.000000,0.133227,0.020240,-0.002950,0.003744,0.071617,0.035065,0.063036,-0.007231,0.012986,-0.089032,0.000216,0.010334,-0.089834,-0.031968,-0.031621
Harvest.Year,0.133227,1.000000,0.029222,0.097035,0.086472,0.080025,0.082579,0.094091,0.056886,0.105610,0.016150,0.098999,0.112075,-0.153878,0.093864,0.093151
Aroma,0.020240,0.029222,1.000000,0.728870,0.673238,0.561803,0.522286,0.603965,0.173698,0.240112,0.115065,0.609189,0.675245,-0.094936,-0.027201,-0.025799
Flavor,-0.002950,0.097035,0.728870,1.000000,0.852334,0.733051,0.680779,0.746955,0.261807,0.340675,0.221654,0.772057,0.836824,-0.124445,-0.018273,-0.017009
Aftertaste,0.003744,0.086472,0.673238,0.852334,1.000000,0.675586,0.697444,0.786558,0.273336,0.348577,0.223916,0.777046,0.836936,-0.185516,-0.033003,-0.031488
Acidity,0.071617,0.080025,0.561803,0.733051,0.675586,1.000000,0.601998,0.639582,0.239680,0.205514,0.147093,0.626880,0.697356,-0.115113,-0.003833,-0.002506
Body,0.035065,0.082579,0.522286,0.680779,0.697444,0.601998,1.000000,0.707585,0.159675,0.175579,0.128154,0.622340,0.666721,-0.195226,-0.023908,-0.022479
Balance,0.063036,0.094091,0.603965,0.746955,0.786558,0.639582,0.707585,1.000000,0.277529,0.293086,0.213019,0.721774,0.788576,-0.210869,-0.020820,-0.019272
Uniformity,-0.007231,0.056886,0.173698,0.261807,0.273336,0.239680,0.159675,0.277529,1.000000,0.370271,0.403554,0.225436,0.536491,-0.005235,-0.012269,-0.011713
Clean.Cup,0.012986,0.105610,0.240112,0.340675,0.348577,0.205514,0.175579,0.293086,0.370271,1.000000,0.482340,0.302814,0.664544,-0.034628,-0.004139,-0.003954
Sweetness,-0.089032,0.016150,0.115065,0.221654,0.223916,0.147093,0.128154,0.213019,0.403554,0.482340,1.000000,0.204689,0.519656,0.007858,-0.026329,-0.026001
Cupper.Points,0.000216,0.098999,0.609189,0.772057,0.777046,0.626880,0.622340,0.721774,0.225436,0.302814,0.204689,1.000000,0.779614,-0.179862,-0.016170,-0.014649
Total.Cup.Points,0.010334,0.112075,0.675245,0.836824,0.836936,0.697356,0.666721,0.788576,0.536491,0.664544,0.519656,0.779614,1.000000,-0.142233,-0.024354,-0.022963
Moisture,-0.089834,-0.153878,-0.094936,-0.124445,-0.185516,-0.115113,-0.195226,-0.210869,-0.005235,-0.034628,0.007858,-0.179862,-0.142233,1.000000,0.012430,0.012007
altitude_low_meters,-0.031968,0.093864,-0.027201,-0.018273,-0.033003,-0.003833,-0.023908,-0.020820,-0.012269,-0.004139,-0.026329,-0.016170,-0.024354,0.012430,1.000000,0.999938
altitude_high_meters,-0.031621,0.093151,-0.025799,-0.017009,-0.031488,-0.002506,-0.022479,-0.019272,-0.011713,-0.003954,-0.026001,-0.014649,-0.022963,0.012007,0.999938,1.000000

In [296]:
df.Color.value_counts()

Green           634
Bluish-Green     70
Blue-Green       61
None             43
Name: Color, dtype: int64

In [297]:
df2 = pd.get_dummies(data=df,drop_first=True)

In [298]:
df2.head()

,Number.of.Bags,Harvest.Year,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,...,"Expiration_September 4th, 2013","Expiration_September 4th, 2015","Expiration_September 4th, 2018","Expiration_September 5th, 2014","Expiration_September 6th, 2016","Expiration_September 8th, 2018",Certification.Body_AlmacafÃ©,Certification.Body_Asociacion Nacional Del CafÃ©,Certification.Body_Other,Certification.Body_Specialty Coffee Association
1,300.0,2014.0,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,...,0,0,0,0,0,0,0,0,1,0
4,300.0,2014.0,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,...,0,0,0,0,0,0,0,0,1,0
9,50.0,2014.0,8.08,8.58,8.50,8.50,7.67,8.42,10.0,10.0,...,0,0,0,0,0,0,0,0,1,0
18,3.0,2015.0,8.42,8.25,8.08,8.17,7.92,8.00,10.0,10.0,...,0,0,0,0,0,0,0,0,1,0
20,10.0,2014.0,8.00,8.25,8.08,8.50,8.25,8.00,10.0,10.0,...,0,0,0,0,0,0,1,0,0,0

In [299]:
df2.shape

(808, 812)

In [300]:
df2.columns

Index(['Number.of.Bags', 'Harvest.Year', 'Aroma', 'Flavor', 'Aftertaste',
       'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup',
       ...
       'Expiration_September 4th, 2013', 'Expiration_September 4th, 2015',
       'Expiration_September 4th, 2018', 'Expiration_September 5th, 2014',
       'Expiration_September 6th, 2016', 'Expiration_September 8th, 2018',
       'Certification.Body_AlmacafÃ©',
       'Certification.Body_Asociacion Nacional Del CafÃ©',
       'Certification.Body_Other',
       'Certification.Body_Specialty Coffee Association'],
      dtype='object', length=812)