## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[78, 27, 96, 67, 29, 49, 73, 52, 3, 16, 76, 72, 37, 90, 87, 54, 18, 34, 32, 63, 40, 41, 75, 79, 88, 25, 61, 95, 24, 5, 4, 42, 98, 12, 23, 30, 36, 46, 28, 86, 26, 47, 66, 11, 9, 60, 13, 19, 2, 7, 71, 100, 48, 93, 1, 35, 85, 91, 8, 59, 70, 39, 82, 83, 65, 33, 89, 77, 31, 64, 50, 10, 58, 0, 51, 44, 22, 55, 43, 81]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=random.choices(range(101), weights=None,cum_weights=None,k=80)
print(sample_list_2)

[52, 93, 67, 1, 94, 9, 70, 61, 98, 100, 33, 76, 12, 29, 84, 20, 71, 0, 34, 1, 78, 48, 28, 20, 83, 8, 10, 41, 38, 15, 22, 93, 14, 79, 10, 53, 54, 4, 92, 68, 89, 35, 95, 12, 76, 48, 22, 65, 99, 25, 93, 14, 47, 25, 66, 67, 34, 17, 4, 65, 28, 22, 98, 39, 55, 69, 57, 64, 73, 32, 93, 17, 32, 50, 98, 3, 96, 97, 89, 24]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1 - set2
set3

{2,
 5,
 7,
 11,
 13,
 16,
 18,
 19,
 23,
 26,
 27,
 30,
 31,
 36,
 37,
 40,
 42,
 43,
 44,
 46,
 49,
 51,
 58,
 59,
 60,
 63,
 72,
 75,
 77,
 81,
 82,
 85,
 86,
 87,
 88,
 90,
 91}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1.intersection(set2)
set5

{0,
 1,
 3,
 4,
 8,
 9,
 10,
 12,
 22,
 24,
 25,
 28,
 29,
 32,
 33,
 34,
 35,
 39,
 41,
 47,
 48,
 50,
 52,
 54,
 55,
 61,
 64,
 65,
 66,
 67,
 70,
 71,
 73,
 76,
 78,
 79,
 83,
 89,
 93,
 95,
 96,
 98,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1)==len(set3)+len(set5)) #len(set1)= len de los elementos que solo están en el set1 más los elementos que tiene en comun con el set2
print(len(set2)==len(set4)+len(set5)) #len(set2)= len de los elementos que solo están en el set2 más los elementos comunes para ambos set
print(len(set1)==len(set2)-len(set4)+len(set3)) #len(set1)= a los elementos del set2 le restas los elementos que solo estan en el set 2 y NO en el set1 (set4) y le sumas los elementos que están en el set1 y NO en el set2 (set5)
#con estas tres ecuaciones quedan todas las len(set) relacionadas entre sí

True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [21]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# Your code here
set1.issubset(set2), set3.issubset(set1)

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
# Your code here
u1 = set3.union(set4,set5) # .union(set1, set2)
u2 = set1.union(set2)
u1 == u2

True

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
# Your code here

lst_set1=list(set1)
lst_set1.pop(0)
set1=set(lst_set1)
set1

{1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 16,
 18,
 19,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 95,
 96,
 98,
 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [42]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1-set(list_to_remove))

{2, 3, 4, 5, 7, 8, 10, 12, 13, 16, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 46, 47, 48, 50, 52, 54, 55, 58, 60, 63, 64, 65, 66, 67, 70, 72, 73, 75, 76, 77, 78, 82, 83, 85, 86, 87, 88, 90, 93, 95, 96, 98, 100}